part1/.eslintrc.cjs
part1/.gitignore
part1/index.html
part1/package-lock.json
part1/package.json
part1/README.md
part1/vite.config.js
part1/public/vite.svg
part1/src/App.jsx
part1/src/main.jsx
part1/src/assets/react.svg
part1/src/components/Note.jsx
part2/.eslintrc.cjs
part2/.gitignore
part2/index.html
part2/package-lock.json
part2/package.json
part2/README.md
part2/vite.config.js
part2/public/vite.svg
part2/src/App.css
part2/src/App.jsx
part2/src/index.css
part2/src/main.jsx
part2/src/assets/react.svg
part2/src/components/Note.jsx
